/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 :root {
    --main-negative-color: #ff5248; 
}

.awsm-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility:visible;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    word-break: break-word;
}

.awsm-popup--hidden {
    /* opacity:0;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear; */
    visibility: hidden;
    opacity: 0;
    transition: opacity .25s ease;
    -moz-transition: opacity .25s ease;
    -webkit-transition: opacity .25s ease;
}

.awsm-popup__content {
    background-color: #fff;
    padding: 0;
    border-radius: 0px;
    max-width: 75%;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.1); 

    /* 
     * Make this relative so we can place the close button with position: absolute.  
     */
    position: relative;

    display: flex;
    flex-direction: column;
}

.awsm-popup__content__left {
    padding: 2rem;
    order: 2;
}

.awsm-popup__content__right {
    background-color: bisque;
    min-width: 100%;
    max-width: 100%;
    order: 1;
    min-height: 20vh;
}

.awsm-popup__content--hidden {
    margin-bottom: -2500px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 769px) {
    .awsm-popup__content {
        padding: 0;
        min-width: 50%;
        max-width: 50%;
        flex-direction: row;
    }

    .awsm-popup__content__right { 
        min-width: 50%;
        max-width: 50%;
    }
} 

.awsm-popup__btn--close {
    position: absolute;
    top: -36px;
    right: -32px; 
    color: var(--main-negative-color);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
    width: 32px;
    height: 32px;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid var(--main-negative-color);
    line-height: 0px;
    padding: 0px;
}

.awsm-popup__btn--close:hover {
    color: #fff;
    border: 1px solid var(--main-negative-color);
    background: var(--main-negative-color);
}

.far {
    font-size: 24px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 768px) {

    .awsm-popup__btn--close {
        padding: 1px 0 0 0;
        top: -44px;
        right: -44px; 
        width: 38px;
        height: 38px;
    }

    .far {
        font-size: 36px;
    }
}
    